<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNkKuvUAxpFTl2PsYKb-NlV70-gFjHs3E</string>
	<key>GCM_SENDER_ID</key>
	<string>434531379639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thelostLane.thelostlane</string>
	<key>PROJECT_ID</key>
	<string>the-lost-lanes</string>
	<key>STORAGE_BUCKET</key>
	<string>the-lost-lanes.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434531379639:ios:5b2a5a4ed18ea0f281a032</string>
</dict>
</plist>